<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- settings -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- typeAliases -->
  <typeAliases>
    <typeAlias alias="AccessHistoryDto" type="com.gdu.semi3.dto.AccessHistoryDto"/>
    <typeAlias alias="LeaveUserDto"     type="com.gdu.semi3.dto.LeaveUserDto"/>
    <typeAlias alias="UserDto"          type="com.gdu.semi3.dto.UserDto"/>
    <typeAlias alias="BlogDto"          type="com.gdu.semi3.dto.BlogDto"/>
    <typeAlias alias="CommentDto"       type="com.gdu.semi3.dto.CommentDto"/>
    <typeAlias alias="AttachDto"        type="com.gdu.semi3.dto.AttachDto"/>
  </typeAliases>
  
</configuration>
